<section>
    <article id="article">

<h2>DOI:
{{if .Public}}
   <span class="doiPublic">(Public)</span>
{{else}}
   <span class="doiDraft">(Draft)</span>
{{end}}
</h2>
{{if .Public}}
<b>Record:</b> <a href="{{.DOIUrl}}">{{.DOI}}</a>
{{else}}
<b>Record:</b> {{.DOI}} (not public)
{{end}}
<br/>
<b>Provider:</b> {{.Provider}}
<br/>
<b>DID:</b> {{.DID}}
<br/>
<b>Published:</b> {{.Published}}
<br/>
<b>Description:</b> {{.Description}}
<br/>
<b>Metadata:</b>
<pre>
{{.Metadata}}
</pre>
{{if .Parents}}
<br/>
<h2>Parents</h2>
{{range $k, $v :=  .Parents}}
<b>DID:</b> {{$k}}
<pre>
{{$v}}
</pre>
<br/>
{{end}}
{{end}}

    </article>
</section>
