<section>
    <article id="article" class="wide">

<h2>DOI:
{{if .Public}}
   <span class="doiPublic">(Public)</span>
{{else}}
   <span class="doiDraft">(Draft)</span>
{{end}}
</h2>

<table class="doi">
  <tr>
    <td>DID</td>
    <td><a href="{{.DidLinkUrl}}" class="doi-link">{{.DID}}</a></td>
  </tr>

  <tr>
    <td>Record DOI</b></td>
    <td>
{{if .Public}}
<a href="{{.DOIUrl}}" class="doi-link">{{.DOI}}</a>
{{else}}
<a href="{{.DOIUrl}}" class="doi-link">{{.DOI}}</a> (not public yet)
{{end}}
    </td>
  </tr>

  <tr>
    <td>Provider</td>
    <td>
{{if eq .Provider "datacite"}}
  <a href="https://datacite.org" class="doi-link">DataCite</a>
{{else if eq .Provider "materialscommons"}}
  <a href="https://materialscommons.org/" class="doi-link">MaterialsCommons</a>
{{else if eq .Provider "zenodo"}}
  <a href="https://zenodo.org" class="doi-link">Zenodo</a>
{{else}}
{{.Provider}}
{{end}}
    </td>
  </tr>

  <tr>
    <td>Provider record</td>
    <td><a href="{{.ProviderDOIUrl}}" class="doi-link">{{.ProviderDOIUrl}}</a></td>
  </tr>

  <tr>
    <td>Published</td>
    <td>{{.Published}}</td>
  </tr>

  <tr>
    <td>Description</td>
    <td>{{.Description}}</td>
  </tr>

</table>

<br/>
<b>Metadata:</b>
<pre>
{{.Metadata}}
</pre>
{{if .Parents}}
<br/>
<h2>Parents</h2>
{{range $k, $v :=  .Parents}}
<b>DID:</b> {{$k}}
<pre>
{{$v}}
</pre>
<br/>
{{end}}
{{end}}

    </article>
</section>
