
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHESS DOI repository</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{.Base}}/images/favicon.ico">
    <!-- https://imperavi.com/superkube/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/superkube@latest/dist/superkube.min.css">
    <link rel="stylesheet" href="{{.Base}}/css/top.css">

    <!-- jquery -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- table representation -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
</head>
<body>
<header id="header">
    <div class="grid">
        <div class="column column-4">
            <a href="{{.FOXDENHOME}}" title="Home" class="button button-small"><img src="https://cdn.onlinewebfonts.com/svg/img_572071.png" alt="Home" style="width:20px;"></a>
            <a href="{{.Base}}/" title="Home" class="button button-small"><img src="https://cdn.onlinewebfonts.com/svg/img_436127.png" alt="Home" style="width:20px;"></a>
        </div>
        <div class="huge column column-4">
                DOI repository of CHESS datasets
        </div>
        <div class="column column-4">
            <a href="/search" title="Search" class="button button-small">Search</a>
            <a href="https://chesscomputing.github.io/FOXDEN" title="Documentation" class="button button-small">Docs</a>
            <a href="https://github.com/CHESSComputing/FOXDEN/issues" title="GitHub issue" class="button button-small">New issue</a>
        </div>
    </div>

</header>
