<section>
    <article id="article">
        <br/>
<form action="{{.Base}}/search" method="post" name="search" id="search" class="form">
<div class="grid">
    <div class="column column-2">
    </div>
    <div class="column column-6">
        <input class="input"
               type="text"
               id="doi"
               name="doi"
               placeholder="DOI identifier">
    </div>
    <div class="column column-2">
        <button class="button button-primary">Search</button>
    </div>
    <div class="column column-2">
    </div>
</div>

</form>

    <br/>
    <hr/>
    <br/>
    <div class="grid">
        <div class="column column-4">
            <a href="{{.FoxdenSearch}}">
                <img src="https://cdn.onlinewebfonts.com/svg/img_572125.png" alt="search" style="width:80px;">
            </a>
            <br/>
            <div class="doiText">
            Search and explore publicly available datasets collected at various CHESS beamlines.
            </div>
        </div>
        <div class="column column-4">
            <a href="https://chesscomputing.github.io/FOXDEN/">
                <img src="{{.Base}}/images/foxden-icon.png" alt="FOXDEN" style="width:80px;">
            </a>
            <br/>
            <div class="doiText">
            Organize your data with FOXDEN infrastructure
            </div>
        </div>
        <div class="column column-4">
            <a href="https://en.wikipedia.org/wiki/FAIR_data">
                <img src="https://cdn.onlinewebfonts.com/svg/img_533219.png" alt="publish" style="width:80px;">
            </a>
            <br/>
            <div class="doiText">
            Publish and share your data with scientists around the globe based on FAIR principles
            </div>
        </div>
    </div>

    <br/>
    <div class="grid">
        <div class="column column-2">
        </div>
        <div class="column column-4">
            <img src="{{.Base}}/images/chess-logo.png" alt="CHESS">
        </div>
        <div class="column column-6 doiText">
            <br/>
            <ul class="custom-bullets">
                <li>Number of supported schemas: {{.NSchemas}}</li>
                <li>Number of CHESS datasets: {{.NMetaRecords}}</li>
                <li>Number of published datasets: {{.NDOIRecords}}</li>
            </ul>
        </div>
    </div>

    </article>
</section>
