<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHESS DOI repository</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{.Base}}/images/favicon.ico">
    <!-- https://imperavi.com/superkube/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/superkube@latest/dist/superkube.min.css">
    <link rel="stylesheet" href="{{.Base}}/css/top.css">

</head>
<body>
<header id="header">
    <div class="grid">
        <div class="column column-4">
            <a href="{{.Base}}/" title="Home" class="button button-small"><img src="https://cdn.onlinewebfonts.com/svg/img_572071.png" alt="Home" style="width:20px;"></a>
        </div>
        <div class="huge column column-4">
                DOI repository of CHESS datasets
        </div>
        <div class="column column-4">
            <a href="https://chesscomputing.github.io/FOXDEN" title="Documentation" class="button button-small">Docs</a>
            <a href="https://github.com/CHESSComputing/FOXDEN/issues" title="GitHub issue" class="button button-small">New issue</a>
        </div>
    </div>

</header>

<section>
    <article id="article">
<!--
        <b>Total number of DOIs: {{.NDocuments}}</b>
-->
        <br/>
        <br/>
        <br/>
<form action="{{.Base}}/search" method="post" name="search" id="search" class="form">
<div class="grid">
    <div class="column column-2">
    </div>
    <div class="column column-6">
        <input class="input"
               type="text"
               id="doi"
               name="doi"
               placeholder="DOI identifier">
    </div>
    <div class="column column-2">
        <button class="button button-primary">Search</button>
    </div>
    <div class="column column-2">
    </div>
</div>

</form>

    </article>
</section>

<footer id="footer">
    <div class="grid">
        <div class="column column-2">
        </div>
        <div class="column column-1">
            <img src="{{.Base}}/images/cornell_logo.png" alt="NSF" style="width:60px;padding-top:20px;">
        </div>
        <div class="column column-6">
            <br/>
            <a href="https://www.chess.cornell.edu/" class="button button-small">
                CHESS
            </a>
            &nbsp; | &nbsp;
            <a href="https://www.chess.cornell.edu/facilities" class="button button-small">
                Beamlines
            </a>
            &nbsp; | &nbsp;
            <a href="https://www.chess.cornell.edu/about/publications" class="button button-small">
                Publications
            </a>
        </div>
        <div class="column column-1">
            <img src="{{.Base}}/images/nsf_logo.png" alt="NSF" style="width:60px;padding-top:20px;">
        </div>
        <div class="column column-2">
        </div>
    </div>
</footer>

</body>
</html>
