<!DOCTYPE html>
<html lang="en">
<head>
    <title>CHESS DOI repository</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{.Base}}/images/favicon.ico">
    <!-- https://imperavi.com/superkube/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/superkube@latest/dist/superkube.min.css">
    <link rel="stylesheet" href="{{.Base}}/css/top.css">

</head>
<body>
<header id="header">
    <div class="grid">
        <div class="column column-4">
            <a href="{{.Base}}/" title="Home" class="button button-small"><img src="https://cdn.onlinewebfonts.com/svg/img_572071.png" alt="Home" style="width:20px;"></a>
        </div>
        <div class="huge column column-4">
                DOI repository of CHESS datasets
        </div>
        <div class="column column-4">
            <a href="https://chesscomputing.github.io/FOXDEN" title="Documentation" class="button button-small">Docs</a>
            <a href="https://github.com/CHESSComputing/FOXDEN/issues" title="GitHub issue" class="button button-small">New issue</a>
        </div>
    </div>

</header>

<section>
    <article id="article">
    <h1 class="doi-title">Supported DOI providers</h1>
    <div class="grid">
        <div class="column column-4">
            <a href="https://datacite.org/">
                <img src="https://cdn.onlinewebfonts.com/svg/img_236663.png" alt="datacite" style="width:80px;">
            </a>
            <br/>
            <b>DataCite</b> is a non-profit organization that provides
            persistent identifiers (DOIs) for research data and other scholarly
            outputs. It serves as a DOI registration agency and offers a
            standardized metadata schema.
            <br/>
            <b>BEST FOR:</b> institutions such as universities, libraries, and
            research centers that manage repositories or data infrastructures
            and need to assign DOIs to their research outputs.
        </div>
        <div class="column column-4">
            <a href="https://zenodo.org/">
                <img src="https://cdn.onlinewebfonts.com/svg/img_397365.png" alt="zenodo" style="width:80px;">
            </a>
            <br/>
            <b>Zenodo</b> is a general-purpose open-access repository developed by
            CERN under the European OpenAIRE program. It allows researchers
            from all disciplines to deposit datasets, publications, software,
            and more.
            <br/>
            <b>BEST FOR:</b> researchers and scientists across all disciplines
            who want an easy-to-use platform to archive and publish research
            outputs with a DOI.
        </div>
        <div class="column column-4">
            <a href="https://materialscommons.org/">
                <img src="https://cdn.onlinewebfonts.com/svg/img_220644.png" alt="materialcommons" style="width:80px;">
            </a>
            <br/>
            <b>MaterialCommons</b> is a data management and publication
            platform specifically designed for materials science. It supports
            collaboration, data sharing, workflow documentation, and publishing
            datasets with DOIs.
            <br/>
            <b>BEST FOR:</b> materials science researchers and labs needing a
            domain-specific repository for organizing and publishing
            experimental and simulation data.
        </div>
    </div>

    </article>
</section>

<footer id="footer">
    <div class="grid">
        <div class="column column-2">
        </div>
        <div class="column column-1">
            <img src="{{.Base}}/images/cornell_logo.png" alt="NSF" style="width:60px;padding-top:20px;">
        </div>
        <div class="column column-6">
            <br/>
            <a href="https://www.chess.cornell.edu/" class="button button-small">
                CHESS
            </a>
            &nbsp; | &nbsp;
            <a href="https://www.chess.cornell.edu/facilities" class="button button-small">
                Beamlines
            </a>
            &nbsp; | &nbsp;
            <a href="https://www.chess.cornell.edu/about/publications" class="button button-small">
                Publications
            </a>
        </div>
        <div class="column column-1">
            <img src="{{.Base}}/images/nsf_logo.png" alt="NSF" style="width:60px;padding-top:20px;">
        </div>
        <div class="column column-2">
        </div>
    </div>
</footer>

</body>
</html>
