<tr>
    <td>
        {{.Did}}
    </td>
    <td>
        {{.Rlink}}
    </td>
    <td>
        {{.Provider}}
    </td>
    <td>
        {{.Description}}
    </td>
    <td>
        <a href="/dois/{{.Doi}}">{{.Doi}}</a>
    </td>
</tr>
