<section>
<article>

<h2>FOXDEN staging request form</h2>
<br/>
<hr/>
<form action="{{.Base}}/stage-request" method="post" name="staterequest" id="stagerequest" class="form">
    <div class="form-item">
        <label class="hint hint-req">FOXDEN Dataset DID (&#42;)</label>
        <input class="input" type="text" value="{{.DID}}" id="did" name="did">
    </div>
    <div class="form-item">
        <label class="hint hint-req">Your full name or CLASSE user id</label>
        {{if .User}}
          <input class="input" type="text" id="user" name="user" value="{{.User}}">
        {{else}}
          <input class="input" type="text" id="user" name="user">
        {{end}}
    </div>
    <div class="form-item">
        <label class="hint hint-req">Your email address</label>
        {{if .Email}}
          <input class="input" type="text" id="email" name="email" value="{{.Email}}">
        {{else}}
          <input class="input" type="text" id="email" name="email" placeholder="email@abc.com">
        {{end}}
    </div>
    <div class="form-item">
        <button class="button button-small button-dark">Submit</button>
        <button class="button button-small">Cancel</button>
    </div>
</form>

</article>
</section>
