<section>
<article>

<form action="{{.Base}}/stage-request" method="post" name="staterequest" id="stagerequest" class="form">
    <div class="form-item">
        <label>FOXDEN dataset</label>
        <label class="hint hint-req">Dataset (&#42;)</label>
        <input class="input" type="text" value="{{.DID}}" id="did" name="did">
    </div>
    <div class="form-item">
        <label>Your email address</label>
        <input class="hint hint-req" type="text" id="email" name="email" placeholder="email@abc.com">
    </div>
    <div class="form-item">
        <label class="hint hint-req">Request Priority (&#42;)</label>
        <select class="input" id="priority" name="priority">
            <option value="low">low</option>
            <option value="medium">medium</option>
            <option value="urgent">urgent</option>
        </select>
    </div>
    <div class="form-item">
        <button class="button button-small button-dark">Submit</button>
        <button class="button button-small">Cancel</button>
    </div>
</form>

</article>
</section>
